<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>1</key>
		<string>Vespa</string>
		<key>2</key>
		<string>Arqueiro Verde</string>
		<key>3</key>
		<string>Capitão América</string>
		<key>4</key>
		<string>Lex Luthor</string>
		<key>Pergunta</key>
		<string>Qual herói participava da formação original dos vingadores?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Batman</string>
		<key>2</key>
		<string>Arqueiro Verde</string>
		<key>3</key>
		<string>Capitão América</string>
		<key>4</key>
		<string>Homem Aranha</string>
		<key>Pergunta</key>
		<string>Qual herói possui um anel de Kryptonita caso Superman tenha que ser detido?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Barro</string>
		<key>2</key>
		<string>Água</string>
		<key>3</key>
		<string>Terra</string>
		<key>4</key>
		<string>Areia</string>
		<key>Pergunta</key>
		<string>A mulher maravilha foi concebida a partir do que?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Aquaman</string>
		<key>2</key>
		<string>Flash</string>
		<key>3</key>
		<string>Arqueiro Verde</string>
		<key>4</key>
		<string>Capitão América</string>
		<key>Pergunta</key>
		<string>Qual o herói se chama Orin?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Terra</string>
		<key>2</key>
		<string>Midgard</string>
		<key>3</key>
		<string>Svartalfheim</string>
		<key>4</key>
		<string>Asgard</string>
		<key>Pergunta</key>
		<string>A mãe de Thor é a deusa de que mundo?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Flash</string>
		<key>2</key>
		<string>Apocalypse</string>
		<key>3</key>
		<string>Hulk</string>
		<key>4</key>
		<string>Superman</string>
		<key>Pergunta</key>
		<string>Qual Herói tem o soco mais forte dos quadrinhos?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Amarelo</string>
		<key>2</key>
		<string>Vermelho</string>
		<key>3</key>
		<string>Azul</string>
		<key>4</key>
		<string>Verde</string>
		<key>Pergunta</key>
		<string>Qual cor é a fraqueza do Lantera Verde?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>1960</string>
		<key>2</key>
		<string>1980</string>
		<key>3</key>
		<string>2000</string>
		<key>4</key>
		<string>1940</string>
		<key>Pergunta</key>
		<string>Em que ano Batman entrou na liga da justiça?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Pantera Negra</string>
		<key>2</key>
		<string>Homem de Ferro</string>
		<key>3</key>
		<string>Batman</string>
		<key>4</key>
		<string>Professor X</string>
		<key>Pergunta</key>
		<string>Qual personagem mais ricos dos HQ’s?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>1941</string>
		<key>2</key>
		<string>1942</string>
		<key>3</key>
		<string>1944</string>
		<key>4</key>
		<string>1950</string>
		<key>Pergunta</key>
		<string>Em que ano foi  a primeira aparição do Capitão América?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>4</string>
		<key>2</key>
		<string>3</string>
		<key>3</key>
		<string>6</string>
		<key>4</key>
		<string>9</string>
		<key>Pergunta</key>
		<string>Quantas sedes já teve a Liga da Justiça?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Sr. Fantátisco</string>
		<key>2</key>
		<string>Mary Jane</string>
		<key>3</key>
		<string>Gwen Stacy</string>
		<key>4</key>
		<string>Tia May</string>
		<key>Pergunta</key>
		<string>Quando o Homem Aranha precisou de reparou em seu uniforme, quem o fez?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Participar de Luta Livre</string>
		<key>2</key>
		<string>Contar a Tia May
Contar a Tia May</string>
		<key>3</key>
		<string>Ir a um programa de TV</string>
		<key>4</key>
		<string>Salvar a cidade</string>
		<key>Pergunta</key>
		<string>O que o Homem Aranha fez ao descobrir seus poderes?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Nick Fury</string>
		<key>2</key>
		<string>Bruce Wayne</string>
		<key>3</key>
		<string>Tony Stark</string>
		<key>4</key>
		<string>Bruce Bayne</string>
		<key>Pergunta</key>
		<string>Qual personagem é o diretor da SHIELD?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Garota Esquilo</string>
		<key>2</key>
		<string>Mulher Macaco</string>
		<key>3</key>
		<string>She-Hulk</string>
		<key>4</key>
		<string>Mulher Maravilha</string>
		<key>Pergunta</key>
		<string>Qual super heroína é conhecida como “Super-heroína do rabo peludo”?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Barbeador Modificado</string>
		<key>2</key>
		<string>Celular Modificado</string>
		<key>3</key>
		<string>Óculos Modificado</string>
		<key>4</key>
		<string>Fone Modificado</string>
		<key>Pergunta</key>
		<string>Na verdade, o que era o comunicador usado por Qui-Gon Jinn?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>James Hawlett</string>
		<key>2</key>
		<string>Allan Jhones</string>
		<key>3</key>
		<string>James Hawnk</string>
		<key>4</key>
		<string>Tony Fury</string>
		<key>Pergunta</key>
		<string>Qual o verdadeiro nome de Wolverine?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Daken</string>
		<key>2</key>
		<string>Allan</string>
		<key>3</key>
		<string>James</string>
		<key>4</key>
		<string>Itsu</string>
		<key>Pergunta</key>
		<string>Qual o nome do filho do Wolverine?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Canada</string>
		<key>2</key>
		<string>USA</string>
		<key>3</key>
		<string>Russia</string>
		<key>4</key>
		<string>Alemanha</string>
		<key>Pergunta</key>
		<string>Onde o Wolverine nasceu?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Decapitado</string>
		<key>2</key>
		<string>Queimado</string>
		<key>3</key>
		<string>Esquartejado</string>
		<key>4</key>
		<string>Perfurado</string>
		<key>Pergunta</key>
		<string>De qual forma Wolverine pode ser morto?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Coelho</string>
		<key>2</key>
		<string>Camelo</string>
		<key>3</key>
		<string>Lemure</string>
		<key>4</key>
		<string>Penguin</string>
		<key>Pergunta</key>
		<string>O pernalonga é um...</string>
	</dict>
	<dict>
		<key>1</key>
		<string>10</string>
		<key>2</key>
		<string>9</string>
		<key>3</key>
		<string>8</string>
		<key>4</key>
		<string>7</string>
		<key>Pergunta</key>
		<string>Quantos tripulantes Mokey D. Luffy, de &quot;One Piece&quot;, diz querer ter em sua tripulação ?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Zanguetsu</string>
		<key>2</key>
		<string>Benihime</string>
		<key>3</key>
		<string>Minazuki</string>
		<key>4</key>
		<string>Senbonzakura</string>
		<key>Pergunta</key>
		<string>Qual o nome da zanpakutou de Ichigo (Bleach)?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Ace</string>
		<key>2</key>
		<string>Bellamy</string>
		<key>3</key>
		<string>Buggy</string>
		<key>4</key>
		<string>Kid</string>
		<key>Pergunta</key>
		<string>Qual o nome do irmão de Monkey D. Luffy (One Piece)?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Kabuto</string>
		<key>2</key>
		<string>Hawkins</string>
		<key>3</key>
		<string>Killer</string>
		<key>4</key>
		<string>Urouge</string>
		<key>Pergunta</key>
		<string>Qual o nome da arma usada por Usopp (One Piece) após o timeskip?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Laranja</string>
		<key>2</key>
		<string>Vermelho</string>
		<key>3</key>
		<string>Azul</string>
		<key>4</key>
		<string>Preto</string>
		<key>Pergunta</key>
		<string>Qual a cor do cabelo de Ichigo (Bleach)?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Tobirama</string>
		<key>2</key>
		<string>Hashirama</string>
		<key>3</key>
		<string>Sarutobi</string>
		<key>4</key>
		<string>Minato</string>
		<key>Pergunta</key>
		<string>Qual o nome do segundo Hokage no anime Naruto</string>
	</dict>
	<dict>
		<key>3</key>
		<string>Konohamaru</string>
		<key>2</key>
		<string>Moegi</string>
		<key>1</key>
		<string>Hinata</string>
		<key>4</key>
		<string>Udon</string>
		<key>Pergunta</key>
		<string>Qual o nome do jinchuuriki da bijuu Sanbi (Naruto) ?</string>
	</dict>
	<dict>
		<key>3</key>
		<string>Superman</string>
		<key>2</key>
		<string>Donald Blake</string>
		<key>1</key>
		<string>Flash</string>
		<key>4</key>
		<string>Capitão América</string>
		<key>Pergunta</key>
		<string>Qual desses personagens nunca levantou o martelo do Thor ?</string>
	</dict>
	<dict>
		<key>3</key>
		<string>Konohamaru</string>
		<key>2</key>
		<string>Moegi</string>
		<key>1</key>
		<string>Hinata</string>
		<key>4</key>
		<string>Udon</string>
		<key>Pergunta</key>
		<string>Qual desses personagens não foi discipulo de Ebisu (Naruto)</string>
	</dict>
	<dict>
		<key>3</key>
		<string>Winston Wade Wilson</string>
		<key>2</key>
		<string>Wilson Wade Winston</string>
		<key>1</key>
		<string>Wade Winston Wilson</string>
		<key>4</key>
		<string>Wade Wilson Winston</string>
		<key>Pergunta</key>
		<string>Qual o nome completo de Deadpool?</string>
	</dict>
	<dict>
		<key>3</key>
		<string>3</string>
		<key>2</key>
		<string>1</string>
		<key>1</key>
		<string>2</string>
		<key>4</key>
		<string>6</string>
		<key>Pergunta</key>
		<string>Quantas ex-esposas Deadpool possui?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Exterminador</string>
		<key>2</key>
		<string>Batman</string>
		<key>3</key>
		<string>Lanterna Verde</string>
		<key>4</key>
		<string>Flash</string>
		<key>Pergunta</key>
		<string>O verdadeiro nome de Deadpool foi inspirado em qual personagem da DC?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Não é possível</string>
		<key>2</key>
		<string>Decapitado</string>
		<key>3</key>
		<string>Queimado</string>
		<key>4</key>
		<string>Com uma doença terminal</string>
		<key>Pergunta</key>
		<string>Como é possivel matar Deadpool?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Vaca</string>
		<key>2</key>
		<string>Cachorro</string>
		<key>3</key>
		<string>Porco</string>
		<key>4</key>
		<string>Gato</string>
		<key>Pergunta</key>
		<string>Deadpool tem medo de qual destes animais?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Walter Kovac</string>
		<key>2</key>
		<string>Walter Wade</string>
		<key>3</key>
		<string>Wilson Kovac</string>
		<key>4</key>
		<string>Kovac Wade</string>
		<key>Pergunta</key>
		<string>Qual o verdadeiro nome de Rorscharc?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>1986</string>
		<key>2</key>
		<string>1988</string>
		<key>3</key>
		<string>1981</string>
		<key>4</key>
		<string>1983</string>
		<key>Pergunta</key>
		<string>Whatchmen foi lançado pela DC em que ano?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Capitão Átomo</string>
		<key>2</key>
		<string>Homem Formiga</string>
		<key>3</key>
		<string>Capitão Caverna</string>
		<key>4</key>
		<string>Batman</string>
		<key>Pergunta</key>
		<string>Dr. Manhattan foi baseado em que personagem?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>50 anos</string>
		<key>2</key>
		<string>40 anos</string>
		<key>3</key>
		<string>45 anos</string>
		<key>4</key>
		<string>55 anos</string>
		<key>Pergunta</key>
		<string>Com quantos anos Frodo partiu para sua jornada?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>1990</string>
		<key>2</key>
		<string>2000</string>
		<key>3</key>
		<string>2002</string>
		<key>4</key>
		<string>1995</string>
		<key>Pergunta</key>
		<string>Em que ano foi criado o Capitão Planeta?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Amor</string>
		<key>2</key>
		<string>Coração</string>
		<key>3</key>
		<string>Fogo</string>
		<key>4</key>
		<string>Água</string>
		<key>Pergunta</key>
		<string>Qual destes não faz parte da combinação para o surgimento do Capitão Planeta?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Azmuth</string>
		<key>2</key>
		<string>Gothan</string>
		<key>3</key>
		<string>Louten</string>
		<key>4</key>
		<string>Azamutis</string>
		<key>Pergunta</key>
		<string>Como se chama o criado do Omnitrix?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Azul</string>
		<key>2</key>
		<string>Verde</string>
		<key>3</key>
		<string>Amarelo</string>
		<key>4</key>
		<string>Branco</string>
		<key>Pergunta</key>
		<string>Qual a cor do genio do Aladdin ?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Dippy Dawg</string>
		<key>2</key>
		<string>Max</string>
		<key>3</key>
		<string>Bafo</string>
		<key>4</key>
		<string>Wasalsky</string>
		<key>Pergunta</key>
		<string>Qual o nome original do Pateta ?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Gilberto</string>
		<key>2</key>
		<string>Max</string>
		<key>3</key>
		<string>Marley</string>
		<key>4</key>
		<string>Kyle</string>
		<key>Pergunta</key>
		<string>Qual o nome do sobrinho do Pateta</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Terk</string>
		<key>2</key>
		<string>Jennifer</string>
		<key>3</key>
		<string>Viola</string>
		<key>4</key>
		<string>Cheetah</string>
		<key>Pergunta</key>
		<string>Qual o nome da gorilinha azul amiga de Tarzan ?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Tantor</string>
		<key>2</key>
		<string>Tommy</string>
		<key>3</key>
		<string>Jimmy</string>
		<key>4</key>
		<string>Terry</string>
		<key>Pergunta</key>
		<string>Qual o nome do elefante neurótico amigo de Tarzan ?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Edward</string>
		<key>2</key>
		<string>Terry</string>
		<key>3</key>
		<string>John</string>
		<key>4</key>
		<string>Pooh</string>
		<key>Pergunta</key>
		<string>Qual o primeiro nome do Ursinho Puff?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>66 cm</string>
		<key>2</key>
		<string>1,55 m</string>
		<key>3</key>
		<string>97 cm</string>
		<key>4</key>
		<string>1,23 m</string>
		<key>Pergunta</key>
		<string>Qual a altura de Mestre Yoda?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>objeto-sujeito-verbo</string>
		<key>2</key>
		<string>sujeito-objeto-verbo</string>
		<key>3</key>
		<string>verbo-sujeito-objeto</string>
		<key>4</key>
		<string>verbo-objeto-sujeito</string>
		<key>Pergunta</key>
		<string>Qual era o formato de fala do Mestre Yoda?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Yoda</string>
		<key>2</key>
		<string>Anakin Skywalker</string>
		<key>3</key>
		<string>Obi Wan</string>
		<key>4</key>
		<string>Darth Wader</string>
		<key>Pergunta</key>
		<string>Obi-Wan foi treinado por quem na infância?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Bulma</string>
		<key>2</key>
		<string>Anakin Skywalker</string>
		<key>3</key>
		<string>Obi Wan</string>
		<key>4</key>
		<string>Darth Wader</string>
		<key>Pergunta</key>
		<string>Quem foi o primeiro humano que Goku viu após seu falecido vovô?</string>
	</dict>
</array>
</plist>
