<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>1</key>
		<string>Flash</string>
		<key>2</key>
		<string>Ciclope</string>
		<key>3</key>
		<string>Homem Aranha</string>
		<key>4</key>
		<string>Wolverine</string>
		<key>Pergunta</key>
		<string>Gorila Grood é o super vilão de qual super herói?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>O Reino de Superman</string>
		<key>2</key>
		<string>A vingança de Clark</string>
		<key>3</key>
		<string>A vingança de Superman</string>
		<key>4</key>
		<string>Injustiça</string>
		<key>Pergunta</key>
		<string>Qual o nome do conto em que Clark Kent foi lançado, pela primeira vez, como vilão?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Quentin Beck (Mistério)</string>
		<key>2</key>
		<string>Edie Brock (Venom)</string>
		<key>3</key>
		<string>Dr Octavius (Dr Octopus)</string>
		<key>4</key>
		<string>Adrian Toomes (Abutre)</string>
		<key>Pergunta</key>
		<string>Que personagem era dublê e amante de efeitos especiais antes de se tornar um super-vilão ?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Bane</string>
		<key>2</key>
		<string>Coringa</string>
		<key>3</key>
		<string>Gorila Grood</string>
		<key>4</key>
		<string>General Zod</string>
		<key>Pergunta</key>
		<string>Qual desses vilões quebrou a coluna do homem-morcego ?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Victor Von Doom</string>
		<key>2</key>
		<string>Hank Pim</string>
		<key>3</key>
		<string>Kent Nelson</string>
		<key>4</key>
		<string>Bruce Banner</string>
		<key>Pergunta</key>
		<string>Qual o alter Ego do Doutor Destino?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Michael Clarke Duncan</string>
		<key>2</key>
		<string>Morgan Freeman</string>
		<key>3</key>
		<string>Will Smith</string>
		<key>4</key>
		<string>Samuel L Jackson</string>
		<key>Pergunta</key>
		<string>Quem interpretou o Rei do Crime no filme do demolidor interpretado por Ben Affleck ?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>General Zod</string>
		<key>2</key>
		<string>Lex Luthor</string>
		<key>3</key>
		<string>Comandante Gaspar</string>
		<key>4</key>
		<string>Gaston</string>
		<key>Pergunta</key>
		<string>Qual super-vilão é um clone do super-homem?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Rei Leão</string>
		<key>2</key>
		<string>Bela Adormecida</string>
		<key>3</key>
		<string>Pequena Sereia</string>
		<key>4</key>
		<string>Vida de Insetor</string>
		<key>Pergunta</key>
		<string>Scar é vilão de qual desenho?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Vaas</string>
		<key>2</key>
		<string>Nick</string>
		<key>3</key>
		<string>Tom</string>
		<key>4</key>
		<string>John</string>
		<key>Pergunta</key>
		<string>Qual o nome do vilão que usa um topete em farcry 3?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Bison</string>
		<key>2</key>
		<string>Sagat</string>
		<key>3</key>
		<string>Akuma</string>
		<key>4</key>
		<string>Zangief</string>
		<key>Pergunta</key>
		<string>Na série de jogos Street Fighter quem é principal vilão?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Arlequina</string>
		<key>2</key>
		<string>Coringa</string>
		<key>3</key>
		<string>Charada</string>
		<key>4</key>
		<string>Duas-Caras</string>
		<key>Pergunta</key>
		<string>Qual destes vilões não surgiu nos quadrinhos?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Ra&apos;s Al Ghul</string>
		<key>2</key>
		<string>Sinestro</string>
		<key>3</key>
		<string>Metallo</string>
		<key>4</key>
		<string>Trigon</string>
		<key>Pergunta</key>
		<string>Em Torre de Babel, qual destes vilões derrotou a Liga da Justiça inteira?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Magneto</string>
		<key>2</key>
		<string>Fanático</string>
		<key>3</key>
		<string>Loki</string>
		<key>4</key>
		<string>Homem-Areia</string>
		<key>Pergunta</key>
		<string>Qual deste vilões se tornou herói recentemente?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Maxwell Lord</string>
		<key>2</key>
		<string>Coringa</string>
		<key>3</key>
		<string>Aelequina</string>
		<key>4</key>
		<string>Man Bat</string>
		<key>Pergunta</key>
		<string>Qual destes vilões não é vilão da galeria do Batman?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Mulher Invisível</string>
		<key>2</key>
		<string>Emma Frost</string>
		<key>3</key>
		<string>Feiticeira Escarlate</string>
		<key>4</key>
		<string>Jean Grey</string>
		<key>Pergunta</key>
		<string>Qual destas heroínas não foi uma vilã?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Kevin Smith</string>
		<key>2</key>
		<string>Dan Jurgens</string>
		<key>3</key>
		<string>Jackson Guide</string>
		<key>4</key>
		<string>Stan Lee</string>
		<key>Pergunta</key>
		<string>Quem criou o vilão Apocalipse (Apocalypse)?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Darkseid</string>
		<key>2</key>
		<string>Doomsday</string>
		<key>3</key>
		<string>Brainiac</string>
		<key>4</key>
		<string>Sinestro</string>
		<key>Pergunta</key>
		<string>Qual vilão é o responsável por invadir a Terra 2 em Os Novos 52?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Fanático</string>
		<key>2</key>
		<string>Pyro</string>
		<key>3</key>
		<string>Apocalipse</string>
		<key>4</key>
		<string>Magneto</string>
		<key>Pergunta</key>
		<string>Qual destes inimigos dos X-Men não é mutante de fato?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Doende Verde</string>
		<key>2</key>
		<string>Thanos</string>
		<key>3</key>
		<string>Galactus</string>
		<key>4</key>
		<string>Magneto</string>
		<key>Pergunta</key>
		<string>Que vilão assume a SHIELD em Reinado Sombrio?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Mercenário</string>
		<key>2</key>
		<string>Soldado Invernal</string>
		<key>3</key>
		<string>Caveira Vermelha</string>
		<key>4</key>
		<string>Barão Zemo</string>
		<key>Pergunta</key>
		<string>Qual destes citados nunca foi vilão do Capitão América?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Coringa</string>
		<key>2</key>
		<string>Bane</string>
		<key>3</key>
		<string>Lagarto</string>
		<key>4</key>
		<string>Zod</string>
		<key>Pergunta</key>
		<string>Qual vilão tem sua aparência semelhante à de um palhaço</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Coringa</string>
		<key>2</key>
		<string>Magneto</string>
		<key>3</key>
		<string>Ultron</string>
		<key>4</key>
		<string>Apocalipse</string>
		<key>Pergunta</key>
		<string>Em &quot;Piada Mortal&quot; quem é responsável pelo aleijamento de Bárbara Gordom</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Adamantium</string>
		<key>2</key>
		<string>Ferro</string>
		<key>3</key>
		<string>Vibranium</string>
		<key>4</key>
		<string>Titanio</string>
		<key>Pergunta</key>
		<string>De qual material é feito Ultron, um dos maiores vilões dos Vingadores</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Adão Negro</string>
		<key>2</key>
		<string>Sinestro</string>
		<key>3</key>
		<string>Caveira Vermelha</string>
		<key>4</key>
		<string>Harvey Dent</string>
		<key>Pergunta</key>
		<string>Qual desses personagens é um grande inimigo do herói Shazam</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Rei do Crime</string>
		<key>2</key>
		<string>Cabeça de Martelo</string>
		<key>3</key>
		<string>Rhino</string>
		<key>4</key>
		<string>Duende Verde</string>
		<key>Pergunta</key>
		<string>No mundo dos quadrinhos Wilson Fisk é conhecido como...</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Uxas</string>
		<key>2</key>
		<string>Stin</string>
		<key>3</key>
		<string>Fenon</string>
		<key>4</key>
		<string>Namor</string>
		<key>Pergunta</key>
		<string>Ao nascer em Apokolips Darkseid era chamado de </string>
	</dict>
	<dict>
		<key>1</key>
		<string>Galactus</string>
		<key>2</key>
		<string>Hera</string>
		<key>3</key>
		<string>Hades</string>
		<key>4</key>
		<string>Brainiac</string>
		<key>Pergunta</key>
		<string>Que vilão é conhecido como &quot;Devorador de Planetas&quot;</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Sauron</string>
		<key>2</key>
		<string>Saruman</string>
		<key>3</key>
		<string>Gandalf</string>
		<key>4</key>
		<string>Baurog</string>
		<key>Pergunta</key>
		<string>Responsável por todo o mal na Terra Média foi derrotado pelo Rei Isildur</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Jason</string>
		<key>2</key>
		<string>Freddy Krugger</string>
		<key>3</key>
		<string>Homem do Saco</string>
		<key>4</key>
		<string>Demolidor</string>
		<key>Pergunta</key>
		<string>Garoto que morreu afogado e mata as suas vítimas utilizando uma máscara de hóquei</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Syde</string>
		<key>2</key>
		<string>Clyde</string>
		<key>3</key>
		<string>Blinky</string>
		<key>4</key>
		<string>Inky</string>
		<key>Pergunta</key>
		<string>Qual destes não é um dos fantasmas do Pac-Man?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Tronhão Quase-Nada</string>
		<key>2</key>
		<string>Pistoleiro-Veloz</string>
		<key>3</key>
		<string>Racha-Cuca</string>
		<key>4</key>
		<string>Wgleyberton</string>
		<key>Pergunta</key>
		<string>Qual destes vilões do Chapolin tem uma enorme cicatriz no olho direito?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Tripa-Seca</string>
		<key>2</key>
		<string>Tonhão Quase-Nada</string>
		<key>3</key>
		<string>Almôndega</string>
		<key>4</key>
		<string>Chinesinho</string>
		<key>Pergunta</key>
		<string>Qual destes vilões do Chapolin é procurado internacionalmente?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Pancho</string>
		<key>2</key>
		<string>Pança Louca</string>
		<key>3</key>
		<string>Tchípulin</string>
		<key>4</key>
		<string>Symbato Yamasaki</string>
		<key>Pergunta</key>
		<string>Qual destes é um robô criado para serviços domésticos, mas que acabou louco por falta de parafusos na cabeça?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Zarm</string>
		<key>2</key>
		<string>Looten</string>
		<key>3</key>
		<string>Matreiro</string>
		<key>4</key>
		<string>Capitão Poluição</string>
		<key>Pergunta</key>
		<string>Qaul o principal inimigo de Gaia e Capitão Planeta?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Medo</string>
		<key>2</key>
		<string>Ambição</string>
		<key>3</key>
		<string>Ganância</string>
		<key>4</key>
		<string>Gula</string>
		<key>Pergunta</key>
		<string>Parallax se alimenta de que?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Apokolips</string>
		<key>2</key>
		<string>Daxam</string>
		<key>3</key>
		<string>Durla</string>
		<key>4</key>
		<string>Rann</string>
		<key>Pergunta</key>
		<string>Qual destes planetas é governado por Darkseid?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Uxas</string>
		<key>2</key>
		<string>Drax</string>
		<key>3</key>
		<string>Loki</string>
		<key>4</key>
		<string>Krann</string>
		<key>Pergunta</key>
		<string>Como Darkseid era chamado antes de apresentar poderes semidivinos?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Segundo</string>
		<key>2</key>
		<string>Primeiro</string>
		<key>3</key>
		<string>Terceiro</string>
		<key>4</key>
		<string>Quarto</string>
		<key>Pergunta</key>
		<string>Professor Zoom é conhecido como qual Flash Reverso?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Batman</string>
		<key>2</key>
		<string>Superman</string>
		<key>3</key>
		<string>Flash</string>
		<key>4</key>
		<string>Aquaman</string>
		<key>Pergunta</key>
		<string>Mariposa Assassina é o supervilão de qual herói?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Selene</string>
		<key>2</key>
		<string>Apocalipse</string>
		<key>3</key>
		<string>Wolverine</string>
		<key>4</key>
		<string>Professor X</string>
		<key>Pergunta</key>
		<string>Qual destes mutantes é o mais velho?</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Apocalipse</string>
		<key>2</key>
		<string>Magneto</string>
		<key>3</key>
		<string>Fanático</string>
		<key>4</key>
		<string>Psylocke</string>
		<key>Pergunta</key>
		<string>Qual vilão contaminou o filho de Ciclope com o Virus Legado?</string>
	</dict>
</array>
</plist>
