<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Musica</key>
		<string>1</string>
		<key>Acertos Herois</key>
		<string>0</string>
		<key>Acertos Viloes</key>
		<string>0</string>
		<key>Erros Herois</key>
		<string>0</string>
		<key>Erros Viloes</key>
		<string>0</string>
		<key>Nick</key>
		<string>Player</string>
		<key>Pontos</key>
		<string>0</string>
		<key>Total Perguntas</key>
		<string>0</string>
	</dict>
</array>
</plist>
